block variables
    - var name = "Igor"

doctype html
html(lang='en')
  head
    title Jade
    script(type='text/javascript').
      const foo = true;
      let bar = function() {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Hello, Webpack!
    p #{name} Oshust
    #container.col
      p Everything is fine
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
