.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: rotate 2s infinite linear; /* вращение 1сек бесконечно линейная анимация */
}

/* Создаём ключевые кадры */
@keyframes rotate {
    /* начало анимации */
    from {
        transform: rotate(0deg) scale(1);
    }
    /* конец анимации */
    to {
        transform: rotate(360deg) scale(1.4);
    }
}